<!DOCTYPE HTML>

<html>

    <head>
        <title>Recline: REST Client</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    
    <body ng-app="restApp">
        
        <div ng-controller="Ctrl">
            <div>
                REST Method:
                <select ng-model="selectedReq" ng-options="x.req for x in restMethod">
                </select>
                <p>
                <input ng-model = "url">
                <button ng-click = "addParams()">+</button>
                
                <div ng-repeat="field in param.fields">
                  <div demo-display="field"></div>
                </div>
                <p></p>
                
                
                <tt>{{param.fields}}</tt>
                <h1>You selected: {{selectedReq.req}}</h1>
                <a ng-href="{{makeUrl()}}">{{makeUrl()}}</a>
                
                <button ng-click = "send()">SEND</button>
                
            </div>
        </div>
        
    </body>
</html>