<!DOCTYPE HTML>

<html>

    <head>
        <title>Recline: REST Client</title>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/tidy_options.js"></script>
        <script src="js/tidy.js"></script>
        <link rel="stylesheet" href="css/popup.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    
    <body ng-app="restApp" >
        <nav class="navbar navbar-default navbar-pattern">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">RECLINE</a>
            </div>
          </div>
        </nav>
        
        <div ng-controller="Ctrl">
            <div class = "input_div">
                <span class = "input_ctrl">
                    <select class="form-control" ng-init="selectedReq = restMethod[0]" ng-model="selectedReq" ng-options="x.req for x in restMethod">
                    </select>
                </span>
                <span class = "input_ctrl">
                    <input class="form-control" ng-model = "url" placeholder="www.google.com">
                </span>
                <span class = "input_ctrl">
                    <button class="btn btn-default btn-block" ng-click = "addParams()">+</button>
                </span>
                <span class = "input_ctrl">
                    <button class="btn btn-default btn-block" ng-click = "send()">SEND {{send}}</button>
                </span>
                <div class="input_params_div">
                    <div ng-repeat="field in param.fields">
                      <div demo-display="field"></div>
                    </div>
                </div>
                <hr>
<!--                <tt>{{param.fields}}</tt>-->
<!--                <p>You selected: {{selectedReq.req}}</p>-->
                <div class= "out_finalurl">
                    <b>URL :</b>
                    <a ng-href="{{makeUrl()}}" style="color:black"> {{makeUrl()}}</a>
                </div>
                <hr>
                <div class= "out_finalurl">
                    <b>Status :</b>
                    <a ng-bind="outStatus" style="color:black"></a>
                </div>
                <div class= "out_data">
                    <textarea class="form-control" rows="8" placeholder="REST API Response" ng-bind="outData"></textarea>
                </div>
                
                
            </div>
        </div>
        
    </body>
</html>